language: node_js
cache:
  directories:
    - node_modules
before_script:
- npm install -g grunt-cli
- npm install
script: 
- grunt
- grunt publish --key:$APIKEY
env:
  global:
    secure: eJ0zPNvl/08O5bpzTmo7eCVnuC+jTXImBdZwSN9wHWGbCqgM1BMX8c5g16p9IH1hGz4BcAHQ33Zk4uDoeC2NbhzYnCx37ynXOqr8dsIr8JpcEVWL6aY7m8qxRYgIAezLDfzkZpErrYH/lrASclbwDw5KiTrOspqKvtpsDxHE2ag=
notifications:
  email: false
  slack:
    rooms:
      secure: VI6zwPEUQnn7/KodnHxI32LaSRrcijZFz/fvgJIrMHweWwGa2TkNvr8WbZ4zJ5zo9B+xlM7gi5TSBLii5OjGNlxLAj2Zf8VM2yx5vKQtECz4hhzE//bO/y/zpbJFc4iYvTt1ZLbpAPrBkHmxvMf94ankOSroPRy21Zt5mU4vDZk=
